body{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: rgba(243, 247, 26, 0.986);
    background-image: url("SnakeBG.jpg");
    background-size: 600px 500px;
   
}


 
.footer{
    color: rgb(241, 241, 241);
    background-color: rgba(0, 0, 0, 0.473);
    padding-top: 0px ;
    padding-bottom:2px;
    width: 100%;
    margin-top: 20px;
    text-align: center;
    
    
}